@model Quote2Invoice.UI.Models.Security.Authenticate.ResponseModels.UpdateProfileModel

@{
  ViewData["Title"] = "ChangePassword";
}

<style>

  #main div {
    padding: 3px;
  }

  #main div span {
    font-size: 11px;
  }

  span button {
    height: 29px;
    width: 30px;
    padding: 6px 1px !important;
  }

</style>

<div class="row">
  <div class="col-md-4">
    <h4 class="page-header-sm">
      Update Profile (@Model.Username)
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div id="main">
      <form id="changePasswordForm">
        <input type="hidden" name="username" value="@Model.Username" />
        <div>
          <span>First Name</span><br />
          <input id="firstName" name="firstName" placeholder="First Name" type="text" class="form-control-normal" value="@Model.FirstName" />
        </div>
        <div>
          <span>Last Name</span><br />
          <input id="lastName" name="lastName" placeholder="Surname" type="text" class="form-control-normal" value="@Model.LastName" />
        </div>
        <div>
          <span>Email Address</span><br />
          <input id="emailAddress" name="emailAddress" placeholder="Email Address" type="text" class="form-control-normal" value="@Model.EmailAddress" />
        </div>
        <div>
          <span>New Password</span>
        </div>
        <div style="white-space: nowrap;">
          <input id="newPassword" name="newPassword" placeholder="New Password" type="password" class="form-control-normal" style="display: inline-block;" />
          <span class="input-group-btn" style="display: inline-block;">
            <button class="btn btn-default btnshow-newPassword" type="button" tabindex="-200">
              <i class="fa fa-eye show-newPassword"></i>
            </button>
          </span>
        </div>
        <div>
          <span>Confirm Password</span>
        </div>
        <div style="white-space: nowrap;">
          <input id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" type="password" class="form-control-normal" style="display: inline-block;" />
          <span class="input-group-btn" style="display: inline-block;">
            <button class="btn btn-default btnshow-confirmPassword" type="button" tabindex="-200">
              <i class="fa fa-eye show-confirmPassword"></i>
            </button>
          </span>
        </div>
        <div style="padding-top:8px;">
          <input type="button" value="Save Profile" data-toggle="modal" data-target="#ConfirmModal" class="btn-normal-thin btn-success" />
          <input type="button" value="Cancel" class="btn-normal-thin btn-default" id="cancel" />
        </div>
        <br />
        <div id="savepanel" style="display:none; width: 200px">
          <span id="errors"></span>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Saved Successful Popup -->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:280px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeconfirm">&times;</button>
        <h4 class="modal-title" id="ConfirmModalLabel">Update Profile</h4>
      </div>
      <div class="modal-body">Would you like to save the profile?</div>
      <div class="modal-footer">
        <button type="button" class="btn-thin btn-primary" id="accept">Yes</button>
        <button type="button" class="btn-thin btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


@section Scripts
{
<script>
  $(document).ready(function () {

    $('.btnshow-newPassword').click(function (event) {
      $('.show-newPassword').click();
    });

    $('.btnshow-confirmPassword').click(function (event) {
      $('.show-confirmPassword').click();
    });

    $('.show-newPassword').click(function (event) {
      if ($('#newPassword').attr('type') === 'password') {
        $('#newPassword').attr('type', 'text');
        $(this).removeClass('fa fa-eye');
        $(this).addClass('fa fa-eye-slash');
      } else {
        $('#newPassword').attr('type', 'password');
        $(this).removeClass('fa fa-eye-slash');
        $(this).addClass('fa fa-eye');
      }
      return false;
    });

    $('.show-confirmPassword').click(function (event) {
      if ($('#confirmPassword').attr('type') === 'password') {
        $('#confirmPassword').attr('type', 'text');
        $(this).removeClass('fa fa-eye');
        $(this).addClass('fa fa-eye-slash');
      } else {
        $('#confirmPassword').attr('type', 'password');
        $(this).removeClass('fa fa-eye-slash');
        $(this).addClass('fa fa-eye');
      }
      return false;
    });

    $('#cancel').click(function () {
      window.location.href = '@Url.Action("Index", "Orders")';
    });

    $("#accept").click(function () {
      if (validForm()) {
        GlobalLoader(true);
        $.ajax({
          url: '@Url.Action("SaveProfile")',
          data: $("#changePasswordForm").serialize(),
          type: 'POST',
          success: function (result) {
            GlobalLoader(false);
            $("#savepanel").show();
            $("#savepanel").removeClass();
            $("#closeconfirm").click();
            
            if (result.isValid) {
              $("#savepanel").addClass("alert alert-info");
              $("#errors").text("Successfully saved.");
            }
            else {
              $("#savepanel").addClass("alert alert-danger");
              $("#errors").text(result.messages[0].message);
            }        
              
          },
          error: function (xhr, options, error) {
            alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
          }
        });
      }
    });

    function validForm() {
      var isValid = true;

      if ($("#newPassword").val() != $("#confirmPassword").val() && $("#newPassword").val().length != 0) {

        $("#confirmPassword").attr("placeholder", "Required");
        $("#newPassword").attr("placeholder", "Required");
        $("#confirmPassword").addClass("alert-danger");
        $("#newPassword").addClass("alert-danger");

        alert("Passwords must match.");

        isValid = false;
      }

      return isValid;
    }

  });
</script>
}