@model Quote2Invoice.UI.Models.Orders.ResponseModels.OrderCustomerViewModel

@{
  ViewData["Title"] = "OrderCustomer";
}

<style>
  .main div {
    padding: 3px;
  }

    .main div span {
      font-size: 11px;
      font-weight: bold;
    }
</style>
<div class="row">
  <div class="col-md-5">
    <h4 class="page-header-sm">
      Customer Details (order <span id="orderno">@Model.CustomerDetails.OrderId</span>)
    </h4>
    <div class="main">
      <div>
        <span>Customers</span>
        <br />
        <select id="existingcustomers" class="form-control-small" style="width:200px">
          <option value='0'>New Customer</option>
          @for(int i = 0; i < Model.Customers.Count; i++)
          {
            <option value="@Model.Customers[i].CustomerId">@Model.Customers[i].CustomerName</option>
          }
        </select>
      </div>
      <div>
        <span>Name *</span>
        <br />
        <input type="text" id="customername" placeholder="Enter Name" class="form-control-small" style="width:200px" value="@Model.CustomerDetails.CustomerName" />
      </div>
      <div>
        <span>Other</span>
        <br />
        <textarea id="customerdetails" class="form-control-normal" rows="3" maxlength="255">@Model.CustomerDetails.CustomerDetails</textarea>
      </div>
      <div>
        <span>Email</span>
        <br />
        <input type="text" id="customeremail" class="form-control-small" placeholder="Enter Email" style="width:200px" value="@Model.CustomerDetails.CustomerEmailAddress" />
      </div>
      <div>
        <span>Account No</span>
        <br />
        <input type="text" id="customeraccountno" class="form-control-small" placeholder="Enter Account No" style="width:200px" value="@Model.CustomerDetails.CustomerAccountNo" />
      </div>
      <div>
        <span>Contact No *</span>
        <br />
        <input type="text" id="customercontactno" class="number form-control-small" placeholder="Enter Contact No" maxlength="10" style="width:200px" value="@Model.CustomerDetails.CustomerContactNo" />
      </div>
      <div>
        <span>Cell No</span>
        <br />
        <input type="text" id="customermobileno" class="number form-control-small" placeholder="Enter Cell No" maxlength="10" style="width:200px" value="@Model.CustomerDetails.CustomerMobileNo" />
      </div>
      <div class="main" id="pnlContact" style="display: none;">
        <hr style="margin-top:10px; margin-bottom:2px" />
        <div>
          <span>Contacts</span>
          <br />
          <select id="existingcontacts" class="form-control-small" style="width:200px">
            <option value='0'>New Contact</option>
            @for (int i = 0; i < Model.Contacts.Count; i++)
            {
              <option value="@Model.Contacts[i].ContactId">@Model.Contacts[i].ContactName</option>
            }
          </select>
        </div>
        <div>
          <span>Contact Person Name</span>
          <br />
          <input type="text" id="contactname" placeholder="Enter Name" class="form-control-small" style="width:200px" value="@Model.CustomerDetails.ContactName"  />
        </div>
        <div>
          <span>Email</span>
          <br />
          <input type="text" id="contactemail" placeholder="Enter Email" class="form-control-small" style="width:200px" value="@Model.CustomerDetails.ContactEmailAddress"  />
        </div>
        <div>
          <span>Contact No</span>
          <br />
          <input type="text" id="contactno" class="number form-control-small" placeholder="Enter Cell No" maxlength="10" style="width:200px" value="@Model.CustomerDetails.ContactNo"  />
        </div>
      </div>
      <div style="padding-top: 10px">
        <input id="save" value="Save Customer" type="button" class="btn-normal-thin btn-success" />&nbsp;&nbsp;
        <input id="addcontact" value="Hide Contact Panel" type="button" class="btn-normal-thin btn-success" />&nbsp;&nbsp;
        <input id="cancel" value="Cancel" type="button" class="btn-normal-thin btn-default" />&nbsp;&nbsp;
      </div>
    </div>
  </div>

</div>

<!-- Saved Successful Popup -->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:280px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeconfirm">&times;</button>
        <h4 class="modal-title" id="ConfirmModalLabel">Successfully saved</h4>
      </div>
      <div class="modal-body">What would you like to do next?</div>
      <div class="modal-footer">
        <button type="button" class="btn-normal-thin btn-primary" id="deliveryaddress">Address Details</button>
        <button type="button" class="btn-normal-thin btn-primary" id="accept">Accept Order</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="hdncustomerid" value="@Model.CustomerDetails.CustomerId" />
<input type="hidden" id="hdnorderid" value="@Model.CustomerDetails.OrderId" />
<input type="hidden" id="hdnorderno" value="@Model.CustomerDetails.OrderNo" />
<input type="hidden" id="hdncontact" value="@Model.CustomerDetails.ContactAdded.ToString().ToLower()" />
<input type="hidden" id="hdncontactid" value="@Model.CustomerDetails.ContactId" />
<input id="hidden" type="button" style="visibility: hidden" data-toggle="modal" data-target="#ConfirmModal" />

@section Scripts{
  <script>
    var orderId = $('#hdnorderid').val();
    var orderNo = $('#hdnorderno').val();
    var customerId = $('#hdncustomerid').val();
    var contactAdded = $('#hdncontact').val();
    var contactId = $('#hdncontactid').val();

    $(document).ready(function () {

      if (customerId > 0) 
        $("#existingcustomers").val(customerId);

      if (contactAdded) {
        $("#existingcontacts").val(contactId);
        $('#pnlContact').fadeIn(500);
        var scrollPos = $("#pnlContact").offset().top;
        $(window).scrollTop(scrollPos);
      } 

    });

    $("#existingcustomers").change(function () {
      $("#customername").val("");
      $("#customerdetails").val("");
      $("#customercontactno").val("");
      $("#customeremail").val("");
      $("#customeraccountno").val("");
      $("#customermobileno").val("");
      refreshContactsPanel();

      customerId = $(this).val();

      if (customerId != "0") {

        GlobalLoader(true);
        $.ajax({
          url: '@Url.Action("GetCustomerContactDetails")',
          data: { customerId: customerId },
          type: "POST",
          success: function (data) {

            $("#existingcontacts").html("");
            $("#existingcontacts").append("<option value='0'>New Contact</option>");

            // loop through contacts and append to the contacts drop down list
            $.each(data.contacts, function (index, contact) {

              $("#existingcontacts").append("<option value='" + contact.contactId + "'>" + contact.contactName + "</option>");
            });

            $("#customername").val(data.customer.customerName);
            $("#customerdetails").val(data.customer.customerDetails);
            $("#customercontactno").val(data.customer.contactNo);
            $("#customeremail").val(data.customer.emailAddress);
            $("#customeraccountno").val(data.customer.accountNo);
            $("#customermobileno").val(data.customer.mobileNo);

            $('#addcontact').click();
            GlobalLoader(false);
          },
          error: function (xhr, options, error) {
            alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
          }
        });

      }
      else {
        $("#existingcontacts").html("");
        $("#existingcontacts").append("<option value='0'>New Contact</option>");
      }

    });

    $("#existingcontacts").change(function () {
      var contactId = $(this).val();

      if (contactId != "0") {

        GlobalLoader(true);
        $.ajax({
          url: '@Url.Action("GetContactPersonDetails")',
          data: { contactId: contactId },
          type: "POST",
          success: function (data) {
            $("#contactname").val(data.contactName);
            $("#contactno").val(data.contactNo);
            $("#contactemail").val(data.emailAddress);

            GlobalLoader(false);
          },
          error: function (xhr, options, error) {
            alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
          }
        });

      }
      else {
        refreshContactsPanel();
      }

    });

    $("#save").click(function () {
      // get the customer panel details
      var customerid = $("#existingcustomers").val();
      var customername = $("#customername").val();
      var customerdetails = $("#customerdetails").val();
      var customercontactno = $("#customercontactno").val();
      var customeremail = $("#customeremail").val();
      var customeraccountno = $("#customeraccountno").val();
      var customermobileno = $("#customermobileno").val();
      // get the contact panel details
      var contactid = $("#existingcontacts").val();
      var contactname = $("#contactname").val();
      var contactno = $("#contactno").val();
      var contactemail = $("#contactemail").val();

      if (!validCustomerForm()) return;

      if (contactAdded) {
        if (!validContactForm()) return;
      }

      GlobalLoader(true);
      $.ajax({
        url: '@Url.Action("AddCustomerOrder")',
        type: "POST",
        data: {
          CustomerId: customerid, CustomerName: customername, CustomerDetails: customerdetails, CustomerContactNo: customercontactno,
          CustomerMobileNo: customermobileno, CustomerAccountNo: customeraccountno, CustomerEmailAddress: customeremail, OrderId: orderId,
          ContactId: contactid, ContactName: contactname, ContactEmailAddress: contactemail, ContactNo: contactno, ContactAdded: contactAdded
        },
        success: function (data) {
          GlobalLoader(false);
          $("#hidden").click();
        },
        error: function (xhr, options, error) {
          alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
        }
      });

    });

    $("#accept").click(function () {
      $.ajax({
          url: '@Url.Action("AcceptOrder")',
          type: "POST",
          data: { orderId: orderId },
          success: function () {
            location.href = '@Url.Action("Index", "Orders")';
          },
          error: function (xhr, options, error) {
            alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
          }
        });
    });

    $("#deliveryaddress").click(function () {
      window.location.href = '@Url.Action("AddressDetail")' + '?orderId=' + orderId + '&orderNo=' + orderNo + '&customerId=' + $("#existingcustomers").val();
    });

    $('#addcontact').click(function () {
      if (!contactAdded) {
        contactAdded = true;
        $('#pnlContact').fadeIn(500);
        var scrollPos = $("#pnlContact").offset().top;
        $(window).scrollTop(scrollPos);
        $('#addcontact').val("Hide Contact Panel");
      }
      else {
        contactAdded = false;
        $('#pnlContact').fadeOut(500);
        var scrollPos = $("#addcontact").offset().top;
        $(window).scrollTop(scrollPos);
        $('#addcontact').val("Show Contact Panel");
        refreshContactsPanel();
      }

    });

    $("#cancel").click(function () {
      location.href = '@Url.Action("Index", "Orders")'
    });

    //////////////////    Private Helper Methods
    ///////////////////////////////////////////////////

    function validContactForm() {
      var valid = true;

      if ($("#contactname").val() == "") { $("#contactname").addClass("alert-danger"); valid = false; }
      if ($("#contactno").val() == "") { $("#contactno").addClass("alert-danger"); valid = false; }
      if ($("#contactemail").val() != "" && (!validateEmail($("#contactemail").val()))) { valid = false; }

      return valid;
    }

    function validCustomerForm() {
      var valid = true;
      var customername = $("#customername").val();
      var customercontactno = $("#customercontactno").val();
      var customeremail = $("#customeremail").val();

      if (customername == "") { $("#customername").addClass("alert-danger"); valid = false; }
      if (customercontactno == "") { $("#customercontactno").addClass("alert-danger"); valid = false; }
      if (customeremail != "" && (!validateEmail(customeremail))) {  valid = false; }

      return valid;
    }

    function refreshContactsPanel() {
      $("#contactname").val("");
      $("#contactno").val("");
      $("#contactemail").val("");
      $("#existingcontacts").val(0);
    }

    function validateEmail(email) {
      var pattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
      return pattern.test(email);
    }

    ////////////////// END :  Private Helper Methods
    //////////////////////////////////////////////////////

    //////////////////    Key Press and Change events
    ///////////////////////////////////////////////////

    $("input[type='text']").keyup(function (event) {
      $(this).removeClass("alert-danger");
    });


    $("input[class='number form-control-small']").keyup(function (event) {
      if (!$.isNumeric(event.key))
        $(this).val($(this).val().replace(event.key, ""));
    });

    $("input[class='number form-control-small']").keypress(function (event) {
      if (!$.isNumeric(event.key))
        $(this).val($(this).val().replace(event.key, ""));
    });

    $("input[class='number form-control-small']").change(function (event) {
      if (!$.isNumeric($(this).val()))
        $(this).val("");
    });


    $("#customeremail").change(function (event) {
      var emailAddress = $(this).val();

      if (!validateEmail(emailAddress) && emailAddress != "") {
        $(this).addClass("alert-danger");
        $(this).attr("placeholder", "Enter valid email");
      }
    });

    $("#contactemail").change(function (event) {
      var emailAddress = $(this).val();

      if (!validateEmail(emailAddress) && emailAddress != "") {
        $(this).addClass("alert-danger");
        $(this).attr("placeholder", "Enter valid email");
      }
    });

    $("#contactemail").keypress(function (event) {
      if (event.keyCode == 13) { $("#done").click(); }
    });

    ////////////////// END :  Key Press and Change events
    /////////////////////////////////////////////////////
  </script>
}
